body {
  background-color: #fff;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.heroSection {
  height: 100%;
  width: 100vw;
  background-color: #ffffff;
  padding-top: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 80px;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .heroSection {
    padding-left: var(--spacing-0);
    padding-right: var(--spacing-0);
    margin-bottom: 80px;
  }
}

.heroLink {
  display: inline-block;
}

/* Shared for hero image and video */

/* Desktop image */
.heroImageDesktop {
  max-width: 60vh;
  height: auto;
  object-fit: contain;
  object-position: center;
  display: block;
  margin: 0 auto;
}

/* Desktop video */
.heroVideoDesktop {
  width: 100vw;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 0 auto;
}

/* Mobile image */
.heroImageMobile,
.heroVideoMobile {
  display: none;
}

@media (max-width: 768px) {
  .heroImageDesktop,
  .heroVideoDesktop {
    display: none;
  }
  .heroImageMobile {
    display: block;
    max-width: 100vw;
    width: 100vw;
    height: auto;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .heroVideoMobile {
    display: block;
    max-width: 100vw;
    width: 100vw;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.gallerySection {
  background-color: #ffffff;
}
