.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  color: var(--foreground);
  font-family: var(--font-family-base);
  text-transform: uppercase;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 60px; /* Header height */
}