.scrollContainer {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

.scrollContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing-6);
  width: max-content;
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
}

.imageWrapper {
  flex-shrink: 0;
  height: 60vh;
  max-width: 45vh;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .gallery {
    gap: var(--spacing-2);
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
  }

  .imageWrapper {
    height: 60vh;
    max-width: 65vw;
  }

  .image {
    height: 50vh;
    width: 100%;
  }
}
