.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.heroSection {
  height: 100%;
  width: auto;
  background-color: #ffffff;
  padding-top: var(--spacing-16);
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .heroSection {
    padding-left: var(--spacing-0);
    padding-right: var(--spacing-0);
    margin-bottom: 80px;
  }
}

.heroLink {
  display: block;
  width: 100%;
  height: 100%;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallerySection {
  background-color: #ffffff;
}
