.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.heroSection {
  height: 100%;
  width: auto;
  background-color: #ffffff;
  padding-top: var(--spacing-12);
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
  margin-bottom: 80px;
  text-align: center;
}

@media (max-width: 768px) {
  .heroSection {
    padding-left: var(--spacing-0);
    padding-right: var(--spacing-0);
    margin-bottom: 80px;
  }
}

.heroLink {
  display: inline-block;
}

.heroImage {
  max-width: 35%;
  height: auto;
  object-fit: contain;
  object-position: center;
  display: block;
  margin: 0 auto;
}

.heroImageMobile {
  display: none;
}

@media (max-width: 768px) {
  .heroImage {
    display: none;
  }
  
  .heroImageMobile {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.gallerySection {
  background-color: #ffffff;
}
