@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap");

.pageContainer {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--spacing-16);
  align-items: start;
  height: 60vh;
  width: 100%;
  padding: 20vh var(--spacing-8) 0;
  background-color: #fff;
}

.leftPanel {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.heading {
  font-size: 0.75rem;
  font-family:
    "Helvetica Neue",
    Arial,
    sans-serif;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: #000000;
  text-transform: uppercase;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  max-width: 500px;
  opacity: 0;
  animation: slideInFromLeft 1000ms ease-out 450ms forwards;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-6rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: none;
}

@media (max-width: 768px) {
  .pageContainer {
    grid-template-columns: 1fr;
    padding: var(--spacing-12) var(--spacing-8);
  }

  .leftPanel {
    justify-content: flex-start;
  }

  .rightPanel {
    align-items: flex-start;
  }

  .heading {
    font-size: 0.8rem;
  }

  .text {
    font-size: 0.75rem;
  }
}
